body {
    background: lightgrey;
}

button {
    background: lightseagreen;
    padding: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    border: 2px solid cyan;
}

img {
    margin: 20px;
}

#gif-form {
    margin: 10px;
}

#add-gif {
    background: slateblue;
    color: white;
    margin-top: 5px;
    padding: 5px;
}

label {
    font-weight: bold;
}